/* div {
    border: 1px solid orange;
} */

#header {
    display: flex;
    /* border: 1px solid red; */
}

.BtnAbout {
    margin-left: auto;
    background-color: rgb(226, 176, 37);
    /* width: 100%; */
    padding: 15px 25px;
    color: white;
}

#calculator {
    display: flex;
}

.container-calculator {
    padding: 20px;
}

.image-logo {
    border: 0;
    width: 15%;
    padding: 0px;
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
}


.card {
    background-color: rgb(252, 252, 172);
    /* width: 40%; */
    padding: 1em 2em;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: medium;
}

.form-group-jk {
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 90%;
    border: rgb(228, 228, 228);
    border-radius: 5px;
    padding: 8px 4px;
}

.icon {
    width: 1%;
    border: 1px solid gray;
}

button {
    border: none;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 12pt;
}

.button {
    width: 20%;
    background-color: rgb(253, 199, 97);
    color: black;
    padding: 10px 20px;
}

.reset {
    width: 15%;
    background-color: rgb(175, 128, 0);
    color: black;
    padding: 10px 8px;
}

.middle {
    font-family: sans-serif;
    font-size: 12pt;
}

.container-hasil {
    padding: 20px;
}

.middle-hasil {
    background-color: rgb(252, 252, 172);
    padding: 1em 2em;
    font-family: sans-serif;
    font-size: medium;
}

.form-group-hasil {
    text-align: center;
}

.btn-download {
    width: 40%;
    padding: 10px 20px;
    background-color: rgb(250, 191, 82);
}

.middle-exp {
    font-family: sans-serif;
    font-size: 12pt;
}

.button-konsul {
    width: 50%;
    padding: 10px 20px;
    background-color: rgb(250, 191, 82);
}

.button-regis {
    width: 40%;
    padding: 10px 20px;
    background-color: rgb(250, 191, 82);
}

.form-group-sick {
    background-color: rgb(252, 252, 172);
    padding: 1em 2em;
    font-family: sans-serif;
    font-size: 12pt;
    text-align: center;
}

.BtnKonsul {
    width: 50%;
    padding: 10px 20px;
    background-color: rgb(250, 191, 82);
    font-size: 10pt;
}

.BtnRegis {
    width: 40%;
    padding: 10px 20px;
    background-color: rgb(250, 191, 82);
    font-size: 10pt;
}

.footer {
    /* background-color: rgb(201, 201, 201); */
    padding: 1em;
    font-family: sans-serif;
    text-align: center;
    font-size: 16pt;
}

.img-gplay {
    width: 15%;
}

.img-apps {
    width: 15%;
}